@-webkit-keyframes fade-in {
  0% {
    display: none;
    opacity: 0; }

  1% {
    display: block;
    opacity: 0; }

  100% {
    display: block;
    opacity: 1; } }

@-moz-keyframes fade-in {
  0% {
    display: none;
    opacity: 0; }

  1% {
    display: block;
    opacity: 0; }

  100% {
    display: block;
    opacity: 1; } }

@-ms-keyframes fade-in {
  0% {
    display: none;
    opacity: 0; }

  1% {
    display: block;
    opacity: 0; }

  100% {
    display: block;
    opacity: 1; } }

@-o-keyframes fade-in {
  0% {
    display: none;
    opacity: 0; }

  1% {
    display: block;
    opacity: 0; }

  100% {
    display: block;
    opacity: 1; } }

@-keyframes fade-in {
  0% {
    display: none;
    opacity: 0; }

  1% {
    display: block;
    opacity: 0; }

  100% {
    display: block;
    opacity: 1; } }

/*--------------------------------------------------------------
WP.com
--------------------------------------------------------------*/
/* Comments */
#comments #respond {
  padding: 0;
  margin: 0;
  overflow: visible;
  font-family: inherit; }
#comments #respond #commentform {
  width: 840px !important;
  background: transparent;
  display: block;
  margin-left: auto;
  margin-right: auto; }
@media screen and (min-width: 768px) and (max-width: 959px) {
  #comments #respond #commentform {
    width: 648px !important; } }
@media screen and (max-width: 767px) {
  #comments #respond #commentform {
    width: 100% !important; } }
#comments #respond .comment-reply-title {
  padding-bottom: 22px;
  margin-top: 0;
  margin-bottom: 40px; }
#comments #respond .comment-reply-title small {
  float: none; }
#comments #respond #comment-form-comment {
  padding: 0 !important;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }
#comments #respond #comment-form-comment #comment {
  padding: 10px;
  background: #f1f2f3 !important;
  border: 1px solid #f1f2f3 !important; }
@media screen and (max-width: 767px) {
  #comments #respond #comment-form-comment #comment {
    padding: 5px; } }
#comments #respond #comment-form-comment #comment:focus {
  background: white !important; }
#comments #respond .comment-form-padder {
  padding: 0; }
#comments #respond .comment-form-service {
  background: white;
  border-bottom-color: #f1f2f3; }
#comments #respond #comment-form-subscribe {
  padding: 0; }
#comments #respond .form-submit {
  padding: 10px 0; }
#comments #respond label {
  font-weight: normal; }
#comments #respond #comment-submit {
  padding: 10px 20px !important;
  background: #464d4d !important;
  border: 1px solid #464d4d;
  color: white !important;
  font-family: inherit !important;
  font-size: 0.73rem !important;
  font-weight: 900 !important;
  line-height: 1.5 !important;
  text-shadow: none !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important; }
@media screen and (max-width: 767px) {
  #comments #respond #comment-submit {
    padding: 5px 10px !important; } }
#comments #respond #comment-submit:hover, #comments #respond #comment-submit:focus, #comments #respond #comment-submit:active {
  background: #e06d5e !important; }
#comments #respond #comment-submit:hover, #comments #respond #comment-submit:focus, #comments #respond #comment-submit:active {
  border-color: #e06d5e !important; }
#comments .comment-list + #respond {
  padding-top: 81px;
  margin-top: 60px; }
@media screen and (max-width: 767px) {
  #comments .comment-list + #respond {
    margin-top: 20px;
    padding-top: 41px; } }
#comments .comment-list + #respond:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  z-index: 0;
  height: 1px;
  background: #f1f2f3;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: -40px;
  width: 100%;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

/* Sharedaddy */
.page-content > .sharedaddy .jetpack-likes-widget-wrapper, .entry-content > .sharedaddy .jetpack-likes-widget-wrapper, .entry-summary > .sharedaddy .jetpack-likes-widget-wrapper {
  padding: 20px 0;
  border-top: 1px solid #f1f2f3;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }
.page-content > .sharedaddy .jetpack-likes-widget-wrapper .post-likes-widget, .entry-content > .sharedaddy .jetpack-likes-widget-wrapper .post-likes-widget, .entry-summary > .sharedaddy .jetpack-likes-widget-wrapper .post-likes-widget {
  top: 15px !important; }
.page-content > .sharedaddy .jp-relatedposts, .entry-content > .sharedaddy .jp-relatedposts, .entry-summary > .sharedaddy .jp-relatedposts {
  padding: 20px 0 0 !important;
  margin: 0 !important;
  border-top: 1px solid #f1f2f3; }
.page-content > .sharedaddy .jp-relatedposts a, .page-content > .sharedaddy .jp-relatedposts img, .entry-content > .sharedaddy .jp-relatedposts a, .entry-content > .sharedaddy .jp-relatedposts img, .entry-summary > .sharedaddy .jp-relatedposts a, .entry-summary > .sharedaddy .jp-relatedposts img {
  display: block; }
.page-content > .sharedaddy .jp-relatedposts img, .entry-content > .sharedaddy .jp-relatedposts img, .entry-summary > .sharedaddy .jp-relatedposts img {
  margin-bottom: 10px; }
.page-content > .sharedaddy .jp-relatedposts .jp-relatedposts-headline, .entry-content > .sharedaddy .jp-relatedposts .jp-relatedposts-headline, .entry-summary > .sharedaddy .jp-relatedposts .jp-relatedposts-headline {
  margin-bottom: 10px !important;
  font-size: 0.73em; }
.page-content > .sharedaddy .jp-relatedposts .jp-relatedposts-headline em:before, .entry-content > .sharedaddy .jp-relatedposts .jp-relatedposts-headline em:before, .entry-summary > .sharedaddy .jp-relatedposts .jp-relatedposts-headline em:before {
  display: none !important; }
.page-content > .sharedaddy .jp-relatedposts .jp-relatedposts-post, .entry-content > .sharedaddy .jp-relatedposts .jp-relatedposts-post, .entry-summary > .sharedaddy .jp-relatedposts .jp-relatedposts-post {
  margin-bottom: 20px !important;
  font-size: inherit !important;
  line-height: 1.5 !important;
  filter: alpha(opacity=100) !important;
  -moz-opacity: 1 !important;
  opacity: 1 !important; }
.page-content > .sharedaddy .jp-relatedposts .jp-relatedposts-post span, .entry-content > .sharedaddy .jp-relatedposts .jp-relatedposts-post span, .entry-summary > .sharedaddy .jp-relatedposts .jp-relatedposts-post span {
  font-size: 0.73em; }
.page-content > .sharedaddy .jp-relatedposts .jp-relatedposts-post .jp-relatedposts-post-context, .entry-content > .sharedaddy .jp-relatedposts .jp-relatedposts-post .jp-relatedposts-post-context, .entry-summary > .sharedaddy .jp-relatedposts .jp-relatedposts-post .jp-relatedposts-post-context {
  font-family: "PT Serif", serif;
  font-style: italic;
  filter: alpha(opacity=100) !important;
  -moz-opacity: 1 !important;
  opacity: 1 !important; }
.page-content > .sharedaddy .jp-relatedposts .jp-relatedposts-post .jp-relatedposts-post-title, .entry-content > .sharedaddy .jp-relatedposts .jp-relatedposts-post .jp-relatedposts-post-title, .entry-summary > .sharedaddy .jp-relatedposts .jp-relatedposts-post .jp-relatedposts-post-title {
  text-transform: uppercase !important; }
.page-content > .sharedaddy .sd-title:before, .entry-content > .sharedaddy .sd-title:before, .entry-summary > .sharedaddy .sd-title:before {
  display: none; }

/* WPStats */
img#wpstats, img[id*="botd"] {
  position: absolute;
  top: -9999px; }
