/*--------------------------------------------------------------
WP.com
--------------------------------------------------------------*/

/* Comments */
#comments {
	#respond {
		padding: 0;
		margin: 0;
		overflow: visible;
		font-family: inherit;
		#commentform {
			width: $desktop - ($vspacing-double * 2 + $vspacing * 2) !important;
			background: transparent;
			@include center-block;
			@include screen($tablet, $desktop - 1px) {
				width: $tablet - ($vspacing-double * 2 + $vspacing * 2) !important;
			}
			@include max-screen($tablet - 1px) {
				width: $mobile !important;
			}
		}
		.comment-reply-title {
			padding-bottom: $vspacing + 2px;
			margin-top: 0;
			margin-bottom: $vspacing-double;
			small {
				float: none;
			}
		}
		#comment-form-comment {
			padding: 0 !important;
			border: none;
			@include box-shadow(none);
			#comment {
				padding: $vspacing / 2;
				background: $lighter-color !important;
				border: 1px solid $lighter-color !important;
				@include max-screen($tablet - 1px) {
					padding: $vspacing / 4;
				}
				&:focus {
					background: $background-color !important;
				}
			}
		}
		.comment-form-padder {
			padding: 0;
		}
		.comment-form-service {
			background: $background-color;
			border-bottom-color: $lighter-color;
		}
		#comment-form-subscribe {
			padding: 0;
		}
		.form-submit {
			padding: 10px 0;
		}
		label {
			font-weight: normal;
		}
		#comment-submit {
			padding: ($vspacing / 2) $vspacing !important;
			background: $dark-color !important;
			border: 1px solid $dark-color;
			color: $background-color !important;
			font-family: inherit !important;
			font-size: 0.73rem !important;
			font-weight: 900 !important;
			line-height: 1.5 !important;
			text-shadow:  none !important;
			@include border-radius(0 !important);
			@include max-screen($tablet - 1px) {
				padding: ($vspacing / 4) ($vspacing / 2) !important;
			}
			@include hover(background, $link-color !important);
			@include hover(border-color, $link-color !important);
		}
	}
	.comment-list + #respond {
		@include hentry;
	}
}

/* Sharedaddy */
.page-content,
.entry-content,
.entry-summary {
	> .sharedaddy {
		.jetpack-likes-widget-wrapper {
			padding: $vspacing 0;
			border-top: 1px solid $lighter-color;
			@include box-sizing(content-box);
			.post-likes-widget {
				top: $vspacing - 5px !important;
			}
		}
		.jp-relatedposts {
			padding: $vspacing 0 0 !important;
			margin: 0 !important;
			border-top: 1px solid $lighter-color;
			a,
			img {
				display: block;
			}
			img {
				margin-bottom: $vspacing / 2;
			}
			.jp-relatedposts-headline {
				margin-bottom: $vspacing / 2 !important;
				font-size: 0.73em;
				em {
					&:before {
						display: none !important;
					}
				}
			}
			.jp-relatedposts-post {
				margin-bottom: $vspacing !important;
				font-size: inherit !important;
				line-height: 1.5 !important;
				filter: alpha(opacity=100) !important;
				-moz-opacity: 1 !important;
				opacity: 1 !important;
				span {
					font-size: 0.73em;
				}
				.jp-relatedposts-post-context {
					font-family: $serif-font;
					font-style: italic;
					filter: alpha(opacity=100) !important;
					-moz-opacity: 1 !important;
					opacity: 1 !important;
				}
				.jp-relatedposts-post-title {
					text-transform: uppercase !important;
				}
			}
		}
		.sd-title {
			&:before {
				display: none;
			}
		}
	}
}

/* Ratings */
.pd-rating {
	padding: ($vspacing / 2) $vspacing;
	margin: 0 0 $vspacing-double;
	background: $lighter-color;
	font-size: 0.73em;
	line-height: 1;
	text-transform: uppercase;
	& + br {
		display: none;
	}
}
.sd-rating {
	padding: ($vspacing - 5px) 0 $vspacing 0;
	margin: 0;
	border-top: 1px solid $lighter-color;
	.pd-rating {
		padding: 0;
		margin: 0;
		background: transparent;
	}
}
.comment-body {
	.pd-rating {
		padding: $vspacing 0;
		margin: 0;
		background: transparent;
	}
	.comment-meta + .pd-rating {
		padding-top: 0;
	}
}

/* WPStats */
img#wpstats,
img[id*="botd"] {
	position: absolute;
	top: -9999px;
}